.title {
  text-transform: uppercase;
  text-align: center;
  display: inline-flex;
  text-shadow: 1px 1px black;
}

.subtext {
  text-align: center;
  display: flex;
}

body {
  background-color: rgb(240, 234, 214);
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #dcd6bc; */
  margin-left: 50px;
  margin-top: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #a87ca0;
}

.grid div {
  height: 40px;
  width: 40px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

.verified {
  background-color: bisque;
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}
.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.bomb {
  height: 40px;
  width: 40px;

  box-sizing: border-box;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four {
  color: #bb41d3;
}
